<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">To homepage</button>
  </div>

  <div class="info">
    <strong>Post Author</strong>
    <small>12.09.2021</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium architecto asperiores autem commodi consequuntur deserunt dicta doloremque doloribus eaque eum facere fuga fugit illum inventore ipsum magnam minima mollitia natus neque obcaecati pariatur perferendis quasi quia recusandae rem suscipit tenetur ut veniam, voluptas! Alias delectus laborum modi nisi reprehenderit?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid deleniti deserunt dolores eligendi enim eum explicabo inventore labore minima, molestiae nam neque nihil pariatur quia, quod recusandae voluptatem, voluptatibus.</p>
  </div>
</div>
